table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 6px;
}
.results tr:hover td{
background-color: moccasin;
}

.results tr:nth-child(even) {
background-color: honeydew;
}
.container{
background:lightblue;
}